@model List<OrderViewModel>

<ul>
    @foreach (var order in Model)
    {
        <li>@order.FullName</li>
        <li>@order.Burgers</li>
        <li>@(order.IsDelivered? "Is delivered" : "Not delivered")</li>
        <br/>
        <br/>
    }
</ul>
